.p-card {
	max-width: 300px;

	@media all and (max-width: 480px) {
		max-width: 100%;
	}
	
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		padding: 1rem;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	&__img {
		clip-path: circle(130px at 50% 50%);

		@media all and (max-width: 480px) {
			clip-path: circle(160px at 50% 50%);
		}
	}

	&__down-content {
		display: flex;
		flex-direction: column;
		background-color: #fff;
		padding: 30px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	&__title {
		font-size: 20px;
		color: #a12c2f;
		font-weight: 600;
		display: inline-block;
		margin-bottom: 15px;
	}

}
