/* HOLA, ARANTZA DEL FUTURO. NO ME ODIES POR HACER UN CSS AQUÍ EN MEDIO, ES UN APAÑO TEMPORAL HASTA QUE LLEGUES TÚ A DARLE ESTILO A ESTO */

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.youtube-icon {
  width: 2rem;
}