.feria-card {
	&__thumb {
		background-color: #fff;
		padding: 2rem;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}
}

.meeting-item .down-content p {
	margin-left: 0;
}

.feria-card__text {
	color: #1f272b;
	font-size: 14px;
}

.text-content {
	height: 200px;
	overflow-y: scroll;
}