.feria-card {
	&__thumb {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		padding: 1rem;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
	}

	&__img {
		max-width: 200px;
	}

	&__down-content {
		background-color: #fff;
		padding: 30px;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
	}

	&__title {
		font-size: 20px;
		color: #a12c2f;
		font-weight: 600;
		display: inline-block;
		margin-bottom: 15px;
	}

	&__text {
		color: #1f272b;
		font-size: 14px;
	}

	&__btn {
		margin-top: 1rem;
	}

	.text-content {
		height: 100px;
		overflow-y: scroll;
		// &::-webkit-scrollbar {
		// 	display: none;
		// }

		// &.--scroll-hidden {
		// 	-ms-overflow-style: none;
		// 	scrollbar-width: none;
		// }

		@media all and (max-width: 480px) {
			height: auto;
		}
	}
}
