.footer-bg {
  background-color: #20272c;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
}

.footer {
  text-align: center;
  background-color: rgba(250,250,250,0.15);
  padding: 50px 0px;
}

.footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
}

.partners-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  padding: 1rem;

  @media all and (max-width: 480px) {
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  }
}
