.footer-bg {
  background-color: #20272c;
  /* background-image: url(../../assets/images/template/meetings-bg.jpg); */
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 1px;
}